<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <button href="#maincontent" class="skip-link">Skip To Content</button>
  <header class="header" >
    <div class="header_inner" >
      <h1 tabindex="0">
        Silvi"s Restaurant
      </h1>
    </div>
    <button href="#" id="menu" class="header_menu" aria-label="navigation-menu" tabindex="0">☰</button>
  </header>

  <nav class="nav" id="drawer">
    <ul class="nav_list">
      <li class="nav_item" ><a href="/daftar">Home</a></li>
      <li class="nav_item" ><a href="#">Favorite</a></li>
      <li class="nav_item" ><a href="https://github.com/Silviagstnn">About Us</a></li>
    </ul>
  </nav>
  
  <div class="hero">
    <div class="hero_inner">
      <img src="./images/heros/hero-image_1.jpg" alt="Hero">
    </div>
  </div>

  <main class="content" id="maincontent">
    <div class="headline_content">
      <h1 class="headline_tittle" tabindex="0">Explore Restaurant</h1>
    </div>

    <div class="rest">
      <div class="posts">
        <article class="post-item" tabindex="0" >
          <img class="post-item-gambar" src="https://restaurant-api.dicoding.dev/images/medium/41" alt="Gambar Restaurant Bring Your Phone Car">
          <div class="post-item-content">
            <p class="post-item-rating">Rating : 4.6</p>
            <h1 class="post-item-tittle">Bring Your Phone Cafe</h1>
            <p class="post-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nulla alias et voluptatibus. Dolores dignissimos tempora molestias quasi facere omnis nihil quos cumque, perspiciatis exercitationem et vero, eum distinctio fuga?</p>
          </div>
        </article>

        <article class="post-item" tabindex="0">
          <img class="post-item-gambar" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Gambar Restaurant Run The Gun">
          <div class="post-item-content">
            <p class="post-item-rating">Rating : 4.6</p>
            <h1 class="post-item-tittle">Run The Gun</h1>
            <p class="post-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium magnam quia assumenda sapiente sed voluptatibus quibusdam asperiores natus temporibus accusamus, rem cum voluptatum, itaque saepe dolore? Quos, facilis deleniti nesciunt repellat laboriosam impedit, odio suscipit obcaecati tempora dolorem repellendus, ullam pariatur autem minima numquam consequatur modi accusamus ipsa exercitationem nostrum.</p>
          </div>
        </article>

        <article class="post-item" tabindex="0">
          <img class="post-item-gambar" src="https://restaurant-api.dicoding.dev/images/medium/29" alt="Gambar Restaurant Pangsit Express">
          <div class="post-item-content">
            <p class="post-item-rating">Rating : 4.8</p>
            <h1 class="post-item-tittle">Pangsit Express</h1>
            <p class="post-item-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, explicabo laboriosam. Eveniet, sequi. Quas maiores totam enim nostrum saepe aperiam voluptate molestiae? Delectus voluptatum excepturi sunt laboriosam dicta, non similique suscipit nobis ipsa quisquam corrupti!</p>
          </div>
        </article>

        <article class="post-item" tabindex="0">
          <img class="post-item-gambar" src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Gambar Restaurant Ducky Duck">
          <div class="post-item-content">
            <p class="post-item-rating">Rating : 4.7</p>
            <h1 class="post-item-tittle">Ducky Duck</h1>
            <p class="post-item-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea tempora voluptas nobis veniam? Voluptates possimus suscipit quasi dolorum ullam repellendus aliquid dolor, fugiat ex eius ipsam debitis distinctio cum esse nostrum, fugit illum quidem repudiandae perspiciatis voluptas! Aspernatur, natus voluptates.</p>
          </div>
        </article>
        
        <article class="post-item"tabindex="0">
          <img class="post-item-gambar" src="https://restaurant-api.dicoding.dev/images/medium/40" alt="Gambar Restaurant Kafein">
          <div class="post-item-content">
            <p class="post-item-rating">Rating : 3.8</p>
            <h1 class="post-item-tittle">Kafein</h1>
            <p class="post-item-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea tempora voluptas nobis veniam? Voluptates possimus suscipit quasi dolorum ullam repellendus aliquid dolor, fugiat ex eius ipsam debitis distinctio cum esse nostrum, fugit illum quidem repudiandae perspiciatis voluptas! Aspernatur, natus voluptates.</p>
          </div>
        </article>
        
        <article class="post-item"tabindex="0">
          <img class="post-item-gambar" src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Gambar Restaurant Makan Mudah">
          <div class="post-item-content">
            <p class="post-item-rating">Rating : 4.6</p>
            <h1 class="post-item-tittle">Makan Mudah</h1>
            <p class="post-item-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea tempora voluptas nobis veniam? Voluptates possimus suscipit quasi dolorum ullam repellendus aliquid dolor, fugiat ex eius ipsam debitis distinctio cum esse nostrum, fugit illum quidem repudiandae perspiciatis voluptas! Aspernatur, natus voluptates.</p>
          </div>
        </article>

        <article class="post-item"tabindex="0">
          <img class="post-item-gambar" src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Gambar Restaurant Saya Suka">
          <div class="post-item-content">
            <p class="post-item-rating">Rating : 3.6</p>
            <h1 class="post-item-tittle">Saya Suka</h1>
            <p class="post-item-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, explicabo laboriosam. Eveniet, sequi. Quas maiores totam enim nostrum saepe aperiam voluptate molestiae? Delectus voluptatum excepturi sunt laboriosam dicta, non similique suscipit nobis ipsa quisquam corrupti!</p>
          </div>
        </article>  
        
        <article class="post-item"tabindex="0">
          <img class="post-item-gambar" src="https://restaurant-api.dicoding.dev/images/medium/45" alt="Gambar Restaurant Gigitan Cepat">
          <div class="post-item-content">
            <p class="post-item-rating">Rating : 4</p>
            <h1 class="post-item-tittle">Gigitan Cepat</h1>
            <p class="post-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nulla alias et voluptatibus. Dolores dignissimos tempora molestias quasi facere omnis nihil quos cumque, perspiciatis exercitationem et vero, eum distinctio fuga?</p>
          </div>
        </article>

        <article class="post-item"tabindex="0">
          <img class="post-item-gambar" src="https://restaurant-api.dicoding.dev/images/medium/04" alt="Gambar Restaurant Fairy Cafe">
          <div class="post-item-content">
            <p class="post-item-rating"> Rating : 4.9</p>
            <h1 class="post-item-tittle">Fairy Cafe</h1>
            <p class="post-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nulla alias et voluptatibus. Dolores dignissimos tempora molestias quasi facere omnis nihil quos cumque, perspiciatis exercitationem et vero, eum distinctio fuga?</p>
          </div>
        </article>
      </div>
    </div>
  </main>
  <footer tabindex="0">
    <h4>Copyrihgt &#169; 2022 - Hunger Apps</h4>
  </footer>
</body>
</html>
